
*{
    box-sizing: border-box;
    margin: 0 auto;
}
#k1{
    overflow: hidden;
    margin-top: 20px;
    width: 100%;
    height: 973px;
    border: 1px solid brown;
    margin-bottom: 20px;

}
header{
    width: 100%;
    height: 50px;
   border-bottom: 1px solid rgb(231, 12, 122);
}
menu{
    text-align: center;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid hotpink;
    background-color: lightpink;
}
nav{
    float: left;
    width: 15%;
    height: 800px;
    border-right: 1px solid hotpink;
}
#n1{
    background: lightpink;
    width: 220px;
    padding: 0;
    list-style-type: none;
    text-align: left;
}
#n1>li{
width: auto;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid rgb(237, 234, 235);
  border-radius: 30px;
  padding: 0 1px;
}
section{
    color: white;
    background-color: black;
    float: right;
    width: 15%;
    height: 560px;
}
#ar1,#ar2{
    width: 90%;
    height: 220px;
}  
#ar1{
    margin-top: 20px;
    margin-bottom: 10px;
    
}
#ar2{
    margin-top: 40px;
}
footer{
    border-top: 1px solid brown;
    clear:both;
    width:100%;
    height: 70px;
    border-bottom: 1px solid brown;
}
#f1{
    color: white;
    height: 70px;
    background-color: lightpink;
    text-align: center;
}
aside{
    float: left;
    width: 70%;
    height: 800px;
}
#k2{
    text-align: center;
    color: rgb(187, 49, 74);
    text-shadow: 15px 20px 8px ;
}
#c1{
    width: 400px;
    background-color:lightpink;
    color:crimson;
}
#v1>li{
    padding-top: -20px;
    width: 200px;
    text-align: center;
    display: inline-block;
    padding-left: 10px;
    line-height: 60px;
    list-style-type: none;
    block-size: 50px;
    border-right: 2px solid rgb(91, 91, 224);
}
#v1>li>a{
    text-decoration: none;
}
.button-row {
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 30px;
  }
.button{
    margin-top: 5px;
border-color: lightpink;
  color: white;
  text-align: left;
  width: 200px;
  height: 30px;
  background-color: lightpink;
  border-radius: 20px;
}
.button:hover {
    background-color: pink;
  }
#khung{
    float: left;
}
input[type=text] {
    width: 500px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  select {
    width: 500px;
    padding: 16px 20px;
  }
  textarea {
    width: 1050px;
    height: 100px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
  }
  .i{
    width: 200px;
    height: 200px;
    border-radius: 50% 50%;
    object-fit: cover;
    box-shadow: 10px 10px 10px hotpink;
  }
  .j{
    color: red
  }
  aside>ul>li>a{
    color: red;
  }